<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="templates :: common_header">
    <link rel="stylesheet" href="../../resources/css/styles.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <div>
            <div th:replace="templates :: header">
            </div>
            <div id="page">
                <div id="navig" th:replace="templates :: navig">
                    <a href="">Фотографии</a>
                    <a href="">Друзья</a>
                    <a href="">Группы</a>
                    <a href="">Аудиозаписи</a>
                    <a href="">Видеозаписи</a>
                </div>
                <div class="wrapper">
                    <div class="clearfix">
                        <div class="img fl_l">
                            <img id="photo" src="../../resources/images/cot.jpg" th:src="@{/images/photo/{id}(id=${person.photoId})}" >
                            <div class="uphoto"></div>
                            <form id="uphotoform" th:action="@{/images/uphoto(_csrf=${_csrf.token})}" method="POST" enctype="multipart/form-data">
                            <!--<form id="uphotoform" th:action="@{/uphoto}" method="POST" enctype="multipart/form-data">-->
                                <input name="file" class="input" type="file" accept="image/*" style="display:none;" >
                            </form>
                            <progress id="progressbar" value="0" max="100"></progress>
                            
                            
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('.uphoto').click(function(){
                                        $('.img .input').click();
                                        
//                                        $(this).children('.input').click();
                                    });
                                    $('.img .input').on('change', function(){
                                        //alert($(this).val());
//                                        var formData = new FormData();
//                                        formData.append('section', 'general');
//                                        formData.append('action', 'previewImg');
//                                        // Attach file
//                                        formData.append('image', $('.img input[type=file]')[0].files[0]); 
                                        var $form = $('#uphotoform'); // You need to use standard javascript object here
                                        var formData = new FormData($form[0]);
                                        var progressBar = $('#progressbar');
                                        $.ajax({
                                            url: $form.attr('action'),
                                            type: $form.attr('method'),
                                            data: formData,
                                            dataType: 'json',
//                                            type: 'POST',
                                            contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                                            processData: false, // NEEDED, DON'T OMIT THIS
                                            
                                            
                                            xhr: function(){
                                                var xhr = $.ajaxSettings.xhr();
                                                xhr.upload.addEventListener('progress', function(evt){
                                                    if(evt.lengthComputable) { // если известно количество байт
                                                        // высчитываем процент загруженного
                                                        var percentComplete = Math.ceil(evt.loaded / evt.total * 100);
                                                        // устанавливаем значение в атрибут value тега <progress>
                                                        // и это же значение альтернативным текстом для браузеров, не поддерживающих <progress>
                                                        
                                                        progressBar.val(percentComplete).text('Загружено ' + percentComplete + '%');
                                                      }
                                                }, false);
                                                return xhr;
                                            },
                                            success: function(json){
                                                alert(json);
                                            }
                                        });
                                    })
                                });
                            </script>


                        </div>
                        <form th:action="@{/images/uphoto(_csrf=${_csrf.token})}" method="POST" enctype="multipart/form-data">
                            <!--<form id="uphotoform" th:action="@{/uphoto}" method="POST" enctype="multipart/form-data">-->
                            <input name="file" type="file" accept="image/*" style="display:block;" >
                            <button type="submit">submit</button>
                        </form>
                        <div id="inform" class="fl_l">
                            <h4><b>
                                <div th:text="${person.firstName}+' '+${person.lastName}">Имя Фамилия</div>
                                </b></h4>
                            <div class="miniblock clearfix">
                                <div class="miniblock">
                                    <div class="label fl_l">День рожденья:</div>
                                    <div class="labeled fl_l "
                                         th:text="${#calendars.format(person.birthday, 'dd MMM yyyy')}">01.01.2000</div>
                                </div>
                                <div class="miniblock">
                                    <div class="label fl_l">Родной город:</div>
                                    <div class="labeled fl_l ">Молодечно</div>
                                </div>
                                <div class="miniblock">
                                    <div class="label fl_l">Место учебы:</div>
                                    <div class="labeled fl_l ">ПГУ</div>
                                </div>
                            </div>
                            <h4><b>Контактная информация</b></h4>
                            <div class="miniblock clearfix">
                                <div class="miniblock">
                                    <div class="label fl_l">Город:</div>
                                    <div class="labeled fl_l ">Новополоцк</div>
                                </div>
                                <div class="miniblock fl_l" >
                                    <div class="label fl_l">Моб. телефон:</div>
                                    <div class="labeled fl_l " th:text="${person.phone}">1234567890</div>
                                </div>
                                <div class="miniblock fl_l" >
                                    <div class="label fl_l">Доп. телефон:</div>
                                    <div class="labeled fl_l ">Информация скрыта</div>
                                </div>
                            </div>
                            <h4><b>Образование</b></h4>
                            <div class="miniblock clearfix">
                                <div class="miniblock">
                                    <div class="label fl_l">Вуз:</div>
                                    <div class="labeled fl_l ">ПГУ</div>
                                </div>
                                <div class="miniblock fl_l" >
                                    <div class="label fl_l">Школа:</div>
                                    <div class="labeled fl_l ">Средняя школа №2</div>
                                </div>
                                <div class="miniblock fl_l" >
                                    <div class="label fl_l">Колледж:</div>
                                    <div class="labeled fl_l ">МГПТК</div>
                                </div>
                            </div>
                            <h4><b>Жизненная позиция</b></h4>
                            <div class="miniblock clearfix">
                                <div class="miniblock">
                                    <div class="label fl_l">Мировоззрение:</div>
                                    <div class="labeled fl_l ">Православие</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <sec:authorize ifAllGranted="ROLE_SUPERVISOR" >

                    </sec:authorize>
                        <div id="wall">


                            <div sec:authorize="hasPermission(#vars['person'], 'write')"
                                 th:replace="wall :: newpost (${message})"></div>
                            <div sec:authorize="hasPermission(#vars['person'], 'write')"
                                 th:if="${!#lists.isEmpty(${person.messages})}"
                                 th:replace="wall :: posts (${person.messages},true)"></div >
                            <div sec:authorize="!hasPermission(#vars['person'], 'write')"
                                 th:if="${!#lists.isEmpty(${person.messages})}"
                                 th:replace="wall :: posts (${person.messages},false)"></div >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>