<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../../resources/css/styles.css" />
    </head>
    <body>

        <div id="wall">
                <div th:fragment="newpost (message)" class="new_post">
                    <!--@thymesVar id="message" type="com.myspringmvc.entity.Message"-->
                    <form method="POST" th:action="@{/add_message}" th:object="${message}">
                        <div onmouseover="new_post_focus()" onmouseout="new_post_blur()">
                            <textarea th:field="*{message}" id="new_post_input" class="new_post_ta" type="text"

                                      placeholder="Добавить запись" ></textarea>
                            <button id="new_post_submit" type="submit" style="display:none">Отправить</button>
                        </div>
                    </form>
                    <script>
                        function new_post_focus(){
                            document.getElementById("new_post_submit").style.display="block";
                        }
                        function new_post_blur(){
                            document.getElementById("new_post_submit").style.display="none";
                        }
                    </script>
                </div>

                <div th:fragment="posts ( messages, delete)" class="post" th:each="mess : ${messages}">
                    <!--@thymesVar id="mess" type="com.myspringmvc.entity.Message"-->
                    <div class="post_panel">
                        <div class="time"
                             th:text="${#calendars.format(mess.date, 'dd MMM yyyy HH:mm' )}">
                            01 jan 1200 12:37
                        </div>
                        <a class="del_post"
                           th:if="${delete == true}"
                           th:href="@{/del_message/{id}(id=${mess.messageId})}">X</a>
                    </div>
                    <div class="post_aera" th:text="${mess.message}">hello</div>
                </div>
        </div>
        


    </body>
</html>